# Binaries
vsentry
vsentry.exe

# Data
*.db
badger_data/
victorialogs-data/

# Logs
*.log

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Misc
*.zip
*.tar.gz

frontend/node_modules/
frontend/dist/
